<html>
	<head>
			<!-- <title></title> -->
			<meta name="viewport" content="width-device-width, initial scale=1">
			<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
			<!-- <link rel="stylesheet" types="text.css" href= "/css/bulletin_board.css"> -->
	</head>

	<body>

	<!-- <h1> Template Header </h1> -->
			
</body>

</html>
